.projectlist-container {
  margin-right: 20%;
  margin-left: 20%;
  padding-left: 30px;
  padding-right: 30px;
}

@media all and (max-width: 600px) {
  .projectlist-container {
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 0px;
    padding-right: 0px;
  }

} 